<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <style type="text/css">
        .simple{
            width:500px;
            margin:20px auto;
        }
    </style>
</head>
<body>
    <div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" id="bar-1"><a href="#">Bar 1</a></li>
        <li role="presentation" id="bar-2">
            <a href="#" class="navbar-header collapse">Bar 2</a>
        </li>
        <li role="presentation" id="bar-3"><a href="#">Bar 3</a></li>
    </ul>
    </div>
    <div class="simple">
        im smaller
    </div>
    <div class="row">
        <div class="col-sm-2" style="background: green">bar</div>
        <div class="col-sm-10" style="background: red">page</div>
    </div>
</body>
</html>